{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}
{% block stylesheets %}
  {{ parent() }}
{% endblock %}


{% block body %}
  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-heading text-uppercase">Wish A Gift</div>
        <div class="intro-lead-in">Think of event. Create a Gift list. Share it with friends. And get awesome presents!</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{ path('create') }}">Create a Gift List</a>

      </div>
    </div>
  </header>
{% endblock %}

{% block footer %}
  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; Wish a gift 2018</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
        {#<div class="col-md-4">#}
          {#<ul class="list-inline quicklinks">#}
            {#<li class="list-inline-item">#}
              {#<a href="#">Privacy Policy</a>#}
            {#</li>#}
            {#<li class="list-inline-item">#}
              {#<a href="#">Terms of Use</a>#}
            {#</li>#}
          {#</ul>#}
        {#</div>#}
      </div>
    </div>
  </footer>
{% endblock %}