{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block body %}
    <!-- Header -->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading text-uppercase">Wish A Gift</div>
                <div class="intro-lead-in">Think of event. Create a Gift list. Share it with friends. And get awesome
                    presents!
                </div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{ path('create') }}">
                    Create a Gift List
                </a>
            </div>
        </div>
    </header>
{% endblock %}

{% block footer %}
    <!-- Footer -->
    {{ include('footer/footer.html.twig') }}
{% endblock %}