{% extends 'base.html.twig' %}

{% block title %}Homepage - {{ parent() }}{% endblock %}
{% block stylesheets %}
  <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
  {{ parent() }}
{% endblock %}

{% block header %}
  <div class="container-fluid">
    <div class="row">
      <h1>Wish<br/> A Gift</h1>
    </div>
  </div>
{% endblock %}

{% block body %}
  <div class="container-fluid">
    <form id="mainPageForm" action="{{ path('create') }}" method="post">
      <div class="form-group row">
        <div class="col-sm-12">
          <input type="text" class="form-control" name="title" placeholder="Type in the title for your list"/>
        </div>
      </div>

      <div class="form-group">
        <textarea class="form-control" title="description" id="description" rows="3">Write a few words in the description!</textarea>
      </div>

      {#<div>#}
        {#<div class="input-group mb-3">#}
          {#<input type="text" class="form-control" name="title" placeholder="Type in your wish here!!"/>#}
          {#<div class="input-group-append">#}
            {#<button type="button" class="btn btn-outline btn-success deleteButton">x</button>#}
          {#</div>#}
        {#</div>#}
        {#<div class="input-group mb-3">#}
          {#<input type="text" class="form-control" name="title" placeholder="And here another wish!"/>#}
          {#<div class="input-group-append">#}
            {#<button type="button" class="btn btn-outline btn-success deleteButton">x</button>#}
          {#</div>#}
        {#</div>#}
        {#<div class="input-group mb-3">#}
          {#<input type="text" class="form-control" name="title" placeholder="And here one more!"/>#}
          {#<div class="input-group-append">#}
            {#<button type="button" class="btn btn-outline btn-success deleteButton">x</button>#}
          {#</div>#}
        {#</div>#}
      {#</div>#}

      <button type="submit" class="btn btn-lg btn-block btn-secondary">Create a WishList</button>
    </form>

  </div>
{% endblock %}




