{% extends 'base.html.twig' %}

{% block title %}Homepage - {{ parent() }}{% endblock %}
{% block stylesheets %}
  <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
  {{ parent() }}
{% endblock %}

{% block modal %}
  <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        {% block header %}
          <div class="modal-header">
            <h1 class="modal-title" id="modalTitle">Create a Wish List</h1>
            {% block closeButton %}
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            {% endblock %}
          </div>
        {% endblock %}

        {% block body %}
          <div class="modal-body container-fluid">
            <form id="modalForm">
              <div id="identificationForm" class="identificationForm">
                <div class="form-group row">
                  <label for="name" class="col-sm-2 col-form-label">Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" placeholder="Enter your name">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="surname" class="col-sm-2 col-form-label">Surname</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="surname" placeholder="Enter your surname">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="email" class="col-sm-2 col-form-label">Email*</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                           placeholder="Enter your email">
                  </div>
                </div>
              </div>

              <div id="giftList">
                <div class="form-group row">
                  <label for="title" class="col-sm-2 col-form-label">WishList Title</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="title" placeholder="Type the title for your list"/>
                  </div>
                </div>

                <div class="form-group">
                  <textarea class="form-control" title="description" id="description" rows="3">Write a few words in the description!</textarea>
                </div>

                {% block addButton %}
                  <div>
                    <button type="button" class="btn btn-success btn-md btn-block addButton" id="addButton">Add a Gift</button>
                  </div>
                {% endblock %}

                {# This array of gifts, added by user, should be rendered automatically#}
                <div class="input-group mb-3">
                  <input type="text" class="form-control" name="title" placeholder="I wish a gift!"/>
                  <div class="input-group-append">
                    <button type="button" class="btn btn-outline btn-success deleteButton">x</button>
                  </div>
                </div>
              </div>

              <button type="submit" class="btn btn-success btn-md btn-block saveButton">Save</button>

              {% block shareButton %}
                <button type="button" class="btn btn-success btn-md btn-block"
                        onclick="location.href='{{ path('secondPage') }}'">Share with Friends
                </button>
              {% endblock %}
            </form>
            {#</div>#}
          </div>
        {% endblock %}

      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <div class="modal-footer">
    <div class="container-fluid">
      <div class="input-group mb-3">
        <input type="text" class="form-control" name="title" placeholder="Link to your WishList"/>
        <div class="input-group-append">
          <button type="button" class="btn btn-success"  onclick="">Copy</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

