{% extends 'base.html.twig' %}

{#Trigger#}
<button type="button" class="btn btn-secondary btn-md btn-block" data-toggle="modal" data-target="#modal">
  Share with Friends
</button>

{#Modal#}
{% block body %}
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content container-wishlist">

    <div class="modal-header">
      <h3 class="modal-title" id="modalTitle">Wish List for `{title}`</h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div class="form-group">
        <textarea class="form-control" title="description" id="description" rows="3"></textarea>
      </div>
      <div class="input-group mb-3">
        <input id="email" type="text" class="form-control" name="email"
               placeholder="Type your friend's email here"/>
        <div class="input-group-append">
          <button class="btn btn-outline btn-secondary addButton" id="addButton" type="button">Add Email</button>
        </div>
      </div>
      <div class="input-group mb-3" id="emailList"></div>
    </div>

    <div class="modal-footer">
      <div class="container-fluid">
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="uuid" value="{{ uuid }}"/>
          <div class="input-group-append">
            <button type="button" class="btn btn-secondary" onclick="">Copy</button>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>

<div class="footer">
  <div class="container-fluid">
    <div class="input-group mb-3">
      <input type="text" class="form-control" name="adminLink" value="{{ uuid }}"/>
      <div class="input-group-append">
      <button type="button" class="btn btn-success" onclick="">Copy</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}