{% extends 'base.html.twig' %}

{% block title %}Homepage - {{ parent() }}{% endblock %}
{% block stylesheets %}
  <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script>
      $(document).ready(function () {
          console.log("All resources finished loading");

          // add click handler for "Add" button
          $('#addButton').click(function () {
              addGift($('#gift'), $('#giftList'));
          });

      });

      function addGift(gift, giftList) {
          console.log(gift, giftList);

          giftList = giftList.append('<div class="input-group mb-3" id="giftItem">\n' +
              `<input type="text" class="form-control" readonly value="${escapeHtml(gift.val())}" />\n` +
              '<div class="input-group-append">\n' +
              '<button type="button" class="btn btn-outline btn-success deleteButton" id="deleteButton">x</button>\n' +
              '</div>\n' +
              '</div>');
      }

      function escapeHtml(string) {
          return (string.replace(/&/g, "&amp;")
              .replace(/</g, "&lt;")
              .replace(/>/g, "&gt;")
              .replace(/"/g, "&quot;")
              .replace(/'/g, "&#039;"));
      }

      //clear input field on button click
      $('input:text').click(
          function(){
              $(this).val('');
          });

  </script>
{% endblock %}

{% block body %}
  <div class="">

    <div class="modal-header">
      <h1 class="modal-title" id="modalTitle">Create a Wish List</h1>
    </div>

    <div class="container-fluid">
      <form id="createForm">
        <div id="identificationForm" class="identificationForm">
          <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="name" value="" placeholder="Enter your name">
            </div>
          </div>
          <div class="form-group row">
            <label for="surname" class="col-sm-2 col-form-label">Surname</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="surname" placeholder="Enter your surname">
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">Email*</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                     placeholder="Enter your email">
            </div>
          </div>
        </div>

        <div>
          <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label">WishList Title</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="title" placeholder="Type the title for your list"/>
            </div>
          </div>

          <div class="form-group">
            <textarea class="form-control" title="description" id="description" rows="3">Write a few words in the description!</textarea>
          </div>

          <div class="input-group mb-3">
            <input id="gift" type="text" class="form-control" name="gift" placeholder="Write your wish here"/>
            <div class="input-group-append">
              <button class="btn btn-outline btn-success addButton" id="addButton" type="button">Add a Gift
              </button>
            </div>
          </div>

          <div id="giftList"></div>

        </div>

        <button type="submit" class="btn btn-success btn-md btn-block saveButton">Save</button>

        <button type="button" class="btn btn-success btn-md btn-block"
                onclick="location.href='{{ path('secondPage') }}'">Share with Friends
        </button>
      </form>
    </div>

  </div>

  <div class="modal-footer">
    <div class="container-fluid">
      <div class="input-group mb-3">
        <input type="text" class="form-control" name="title" placeholder="Link to your WishList"/>
        <div class="input-group-append">
          <button type="button" class="btn btn-success" onclick="">Copy</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
