//the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";


/* media query breakpoints */
/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}*/

// Medium devices (tablets, 768px and up)
/*@media (min-width: 768px) {
  padding: 50px 0;
}*/

/* Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}*/

//styles for page errors
ul {
  list-style-type: none;
}

ul {
  &.gifts, &.error {
    padding: 0;
  }
}

.edit-margin {
  margin-top: 80px;
}

.user-giftlist {
  margin-bottom: 80px;
}

/* Styles for amazon-autocomplete */
.ac__container {
  position: unset !important;
}

/* Styles for amazon-autocomplete */
/* Words container */
.ac__inner{
  background: #f6f6f6;
  top: 100% !important;
  z-index: 3;
}

/* Styles for amazon-autocomplete */
/* Individual word element */
.ac__word{
  margin: 0;
  padding: 5px;
}

/* Styles for amazon-autocomplete */
/* Word prefix style. It’s the span containing the search keyword within the word. */
.ac__prefix{
  font-weight: bold;
}

/* Styles for amazon-autocomplete */
/* Style applied to each words while navigating through the list or on hover */
.ac__word--selected, .ac__word:hover{
  background-color: #e3e3e3;
}
